{{- with .Title | default .Site.Title }}
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}">
{{- end }}
{{- with .Description | default .Params.subtitle | default .Summary }}
<meta property="og:description" content="{{ . }}">
<meta name="twitter:card" content="{{ . }}">
<meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end }}

{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}

<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<link rel="canonical" href="{{ .Permalink | absLangURL }}">

<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ if .Params.keywords }}
    <meta name="keywords" content="{{ delimit .Params.keywords "," }}">
  {{ end }}

    {{ with .Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ else }}
    <meta name="robots" content="index, follow">
  {{ end }}


